[submodule "animated-navigation"] 
  path = animated-navigation 
  url = https://github.com/Yuskhosmith/animated-navigation.git
[submodule "animated-template"] 
  path = animated-template 
  url = https://github.com/Yuskhosmith/animated-template.git
[submodule "bookmark-app"] 
  path = bookmark-app 
  url = https://github.com/Yuskhosmith/bookmark-app.git
[submodule "calculator"] 
  path = calculator
  url = https://github.com/Yuskhosmith/calculator.git
[submodule "custom-countdown"] 
  path = custom-countdown 
  url = https://github.com/Yuskhosmith/custom-countdown.git
[submodule "drag-and-drop"] 
  path = drag-and-drop 
  url = https://github.com/Yuskhosmith/drag-and-drop.git
[submodule "form-validation"] 
  path = form-validation 
  url = https://github.com/Yuskhosmith/form-validation.git
[submodule "infinite-scroll"] 
  path = infinite-scroll 
  url = https://github.com/Yuskhosmith/infinite-scroll.git
[submodule "joke-teller"] 
  path = joke-teller 
  url = https://github.com/Yuskhosmith/joke-teller.git
[submodule "light-dark-mode"] 
  path = light-dark-mode 
  url = https://github.com/Yuskhosmith/light-dark-mode.git
[submodule "math-sprint-game"] 
  path = math-sprint-game 
  url = https://github.com/Yuskhosmith/math-sprint-game.git
[submodule "music-player"] 
  path = music-player 
  url = https://github.com/Yuskhosmith/music-player.git
[submodule "nasa-api-pictures"] 
  path = nasa-api-pictures 
  url = https://github.com/Yuskhosmith/nasa-api-pictures.git
[submodule "paint-clone"] 
  path = paint-clone 
  url = https://github.com/Yuskhosmith/paint-clone.git
[submodule "picture-in-picture"] 
  path = picture-in-picture 
  url = https://github.com/Yuskhosmith/picture-in-picture.git
[submodule "pong"] 
  path = pong 
  url = https://github.com/Yuskhosmith/pong.git
[submodule "quote-generator"] 
  path = quote-generator 
  url = https://github.com/Yuskhosmith/quote-generator.git
[submodule "splash-page"] 
  path = splash-page 
  url = https://github.com/Yuskhosmith/splash-page.git
[submodule "spock-rock-game"] 
  path = spock-rock-game 
  url = https://github.com/Yuskhosmith/spock-rock-game.git
[submodule "video-player"] 
  path = video-player 
  url = https://github.com/Yuskhosmith/video-player.git